.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-color: #ffffff;
    min-width: 1090px;
}

header .top {
    height: 77px;
    background-image: url("../icons/header-bg.png");
    background-repeat: repeat-x;
    text-align: center;
}

header .top .logo {
    position: relative;
    margin-top: 19px;
    display: inline-block;
}

header .top .logo span {
    color: #666666;
    font-size: 10px;
    position: absolute;
    bottom: 3px;
    right: 0;
}

header .top .logo a{
    text-decoration: none;
}

header .cabinet {
    margin: 30px 70px 0 370px;
}

header .region {
    padding: 0 0 0 20px;
	display: inline-block;
	height: 47px;
	vertical-align: middle;
}

header .region a i {
    color: #3257a5;
    font-size: 14px;
    border-bottom: 1px dashed #3257a5;
    width: 120px;
    font-weight: bold;
}

header .region a {
    text-decoration: none;
}

header .region span {
    color: #7b8ea9;
    font-size: 11px;
}

header .cabinet {
	display: inline-block;
	height: 47px;
	vertical-align: middle;
	margin: 0 70px 0 370px;
}

.registration, .login {
    text-decoration: none;
}

.registration img, .login img {
	vertical-align: middle;
}

.registration span {
    color: #333333;
    font-size: 14px;
    border-bottom: 1px solid #cccccc;
    margin-right: 23px;
    display: inline-block;
    width: 90px;
    font-weight: bold;
}

.login span{
    color: #333333;
    font-size: 14px;
    border-bottom: 1px solid #cccccc;
    display: inline-block;
    font-weight: bold;
}

.cabinet a:hover span {
    border: none;
}

header .bottom {
    height: 100px;
    background-image: url("../icons/header.png");
    background-repeat: repeat-x;
}

header .bottom > div {
    clear: both;
    height: 110px;
    line-height: 50px;
    overflow: auto;
    text-align: center;
    vertical-align: middle;
}

header .bottom ul li, footer .top .menu li {
    list-style: none;
    display: inline;
}

header .bottom ul li a, footer .top .menu li {
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, .3);
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
	-webkit-transition-property: background;
	-o-transition-property: background;
	-moz-transition-property: background;
	transition-property: background;
}

header .bottom ul li a {
    font-size: 12px;
    padding: 15px 12px 12px 12px;
    margin-left: 15px;
}

header .bottom ul li a, footer .menu li a {
    font-weight: 800;
}

header .bottom ul li a:hover, header .bottom ul li.active a, footer .menu li:hover, footer .menu li.active {
    background: #f37d20;
}

main {

}

.left-side {
    width: 226px;
    height: 1210px;
    background-color: #333333;
    float: left;
}

.sidebar {
    width: 226px;
    height: 919px;
    background-color: #f4f4f4;
    border-radius: 8px;
}



.line {
    background: url("../icons/left-line.png");
    height: 2px;
    margin: 19px auto;
    background-repeat: repeat-x;
    width: 189px;

}

h2 {
    color: #333333;
    margin: 0;
}

.content{
    float: left;
}

.content div .reg {
    color: #333333;
    font-size: 13px;
    margin: 5px 5px 0 0;
    font-weight: bold;
}

.content div ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.content div ul li {
    display: inline-block;
    list-style: none;
    border: 2px solid #FFFFFF;
}

.content div ul li a{
    -moz-text-decoration-line: underline;
    -moz-text-decoration-style: dashed;
    -moz-text-decoration-color: #aec2df;
    color: #000000;
    font-size: 12px;
    padding: 2px 4px;
    margin: 2px;
    vertical-align: middle;
    display: inline-block;
}

.content div .active{
    border: 2px solid #1e57a5;
    color: #1e57a5;
    border-radius: 4px;
}

.box {
    border: 2px solid #cfcfcf;
    border-radius: 5px;
    margin: 10px 0 4px 0;
    padding: 14px 17px;
    width: 712px;
    height: 223px;
}

.box_name span a {
    color: #1e57a5;
    -moz-text-decoration-line: underline;
    -moz-text-decoration-style: solid;
    -moz-text-decoration-color: #aec2df;
    font-size: 18px;
}

.box_name img {
    margin-left: 10px;
}

.box_name .loc {
    text-decoration: none;
}

.category {
    font-size: 11px;
    color: #775843;
    background-color: #fef0d3;
    width: 242px;
    padding: 7px 0 8px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-left: 243px;
}

.strip {
    color: #deccb4;
    padding: 0 4px 0 4px ;
}

.nom {
    padding-right: 10px;
}

.lux {
    padding-left: 20px;
    font-weight: bold;
}

.category .lux {
    padding-left: 20px;
}

.star {
    display: inline-block;
    background-image: url("../icons/star.png");
    height: 16px;
}

.star .star_full {
    display: inline-block;
    background-image: url("../icons/star_full.png");
    height: 14px;
    margin-top: 0;
}

.rating {
    font-size: 12px;
}

.content .pic {
    float: left;
    margin-top: 10px;
}

.content .pic ul li{
    list-style: none;
    float: left;
    margin: 0 7px 0 0;
    padding: 0;
    border: 0;
}

.content .pic ul li a {
    margin: 0;
    padding: 0;
}

.content .pic ul {
    padding: 0;
    margin: 0;
}

.rooms {
    padding-left: 10px;
    margin-top: 9px;
}

.column, .column1 {
    width: 205px;
    height: 18px;
    display: inline-block;
    font-size: 10px;
    padding: 5px 0 0 17px;
}

.column1 {
    background-color: #f4f4f4;
}

.column {
    background-color: #ffffff;
}

.mean b{
    width: 110px;
    display: inline-block;
}

.reviews {
    margin-top: 5px;
}

.reviews {
    margin-top: 5px;
}

.reviews span, .reviews span a {
    color: #1e57a5;
}

.number span, .number span a {
    color: #f37d20;
}

.reviews span b , .number span b {
    font-size: 12px;

}

.reviews .num a b  {
    /* font-size: 15px;*/
    display: inline-block;
    text-decoration: underline dashed #aec2df;
    background-image: url("../icons/coments-bg.png");
    height: 22px;
    width: 57px;
    text-align: center;
    padding: 8px 0 0 0;
}

.number .num a b {
    display: inline-block;
    text-decoration: none;
    background-image: url("../icons/coments-bg.png");
    height: 22px;
    width: 57px;
    text-align: center;
    padding: 8px 0 0 0;
}

.button .strip {
    margin: 10px 15px 0 15px;
}

.button .icons {
    margin: 12px 10px 0 0;
}

.submit span b {
    color: #f37d20;
    margin: 10px 0 0 63px;
    font-size: 16px;
}

.submit del {
    color: #f37d20;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
}

.submit button, .sidebar button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 9px 12px;
    background: -moz-linear-gradient(
            top,
            #3f79cb 0%,
            #2059a8);
    background: -webkit-gradient(
            linear, left top, left bottom,
            from(#3f79cb),
            to(#2059a8));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 0 solid #000000;
    margin-left: 7px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}



footer .top {
    height: 90px;
    background-color: #1e57a5;
    text-align: center;
}

footer .top div {
    display: inline;
}

footer .top .logo {
    position: relative;
    margin-right: 80px;
}

footer .top .logo a span {
    color: #ffffff;
    font-size: 10px;
    position: absolute;
    bottom: 5px;
    right: 4px;
    top: 0;
}

footer .top .logo a{
    text-decoration: none;
}

footer .top .menu {
    display: inline;
    padding-left: 0;
    margin: 0;
}

footer .top .menu li {
    font-size: 10px;
    padding: 15px 5px 12px 5px;
    margin: 0 0 0 10px;
}

footer .top .menu li a {
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, .3);
    text-transform: uppercase;
}

footer .bottom {
    height: 47px;
    background-color: #174583;
    text-align: center;
}

footer .bottom .copyright {
    color: #799fd4;
    font-size: 10px;
}

footer .bottom form {
    display: inline;
    position: relative;
}

footer .bottom .search {
    padding: 0 22px 0 10px;
    margin: 13px 0 0 600px;
    width: 140px;
    font-size: 11px;
    height: 19px;
    color: #a7a7a7;
    border: 1px solid #d1dae6;
    border-radius: 4px;
}

footer .bottom .button {
    background-image: url("../icons/serch.png");
    border:none;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 7px;
    top: 3px;
}
